$primary: #FF9800;
$secondary: #FFC107;

body {
  background: #eee;
  font-family: "RobotoDraft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

nested-pages {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
